{% extends 'base.html' %}
{% load static %}

{% block left_item %}
<div class="col-lg-2">
  <h2 class="my-4">Hi, {{request.user}}</h2>



  <!-- <a href="#demo" class="btn btn-primary" data-toggle="collapse"></a>
  <div id="demo" class="collapse">
      <div class="list-group" {% if not category %} {% endif %} class="nav-item active">

          <a href="{% url 'books:book_list' %}" class="list-group-item" {% if not category %} aria-selected="true"
              {% else %} aria-selected="" {% endif %}>All</a>
      </div>
      {% for c in categories %}

      <div class="list-group" {% if category.slug == c.slug %} {% endif %} class="active">
          <a href="{{c.get_absolute_url}}" class="list-group-item">{{c.category}}</a>
      </div>
      {% endfor %}

  </div> -->

</div>
{% endblock left_item %}
  
  <!-- Page Content -->

     

{% block content %}
  <div class="card mt-4" style="width: 900px !important;">
    <img class="card-img-top img-fluid" src="{{book.image_thumbnail.url}}" alt="">
    <p class="my-5 mx-auto">
        <embed src="{{book.ebook.url}}" type="application/pdf" height="700px" width="500px">
    </p>
    
  </div>
  <!-- /.card -->
<hr>
 
  <!-- /.card -->
{% endblock content %}
  
